
{lib_dirs, ["deps", "deps/parse_trans", 
            "deps/annotations",
            "deps/rebar_annotations"]}.

{plugin_dir, "deps/annotations/src"}.
{plugins, [rebar_annotations_plugin]}.

{deps, [
    {bad_deps_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar-plugin-tutorial.git",
            "part3-plugin"}}
]}.
