
{lib_dirs, ["deps", "deps/parse_trans", 
            "deps/annotations", 
            "deps/annotations/ebin",
            "deps/rebar_annotations",
            "deps/rebar_annotations/ebin"]}.

{deps, [
    {rebar_annotations, ".*",
        {git, "https://github.com/hyperthunk/rebar_annotations.git"}}
]}.

{plugins, [rebar_annotations_plugin]}.
{plugin_dir, "deps/annotations/src"}.

{annotations, [
    {registered, [base_dir]}
]}.
