
{lib_dirs, ["deps/annotations",
            "deps/annotations/ebin",
            "deps/rebar_annotations/ebin"]}.

{plugins, [bad_deps_plugin]}.

{deps, [
    {annotations, ".*"},
    {rebar_annotations, ".*"},
    {bad_deps_plugin, ".*"},
    {skewbinheap, ".*"}
]}.

{bad_deps, [
    {skewbinheap, "https://github.com/okeuday/skewbinheap.git"}
]}.
